# Laravel & PHP
/vendor
/node_modules
.env
.env.*
.phpunit.result.cache
.phpunit.cache
Homestead.yaml
Homestead.json
auth.json
.phpactor.json
Thumbs.db
.DS_Store

# IDEs & editors
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Laravel storage (keep dirs, ignore contents)
/storage/*
!/storage/app
!/storage/framework
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/views
!/storage/logs

/storage/app/*
!/storage/app/.gitignore

/storage/framework/cache/*
!/storage/framework/cache/.gitignore

/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore

/storage/framework/views/*
!/storage/framework/views/.gitignore

/storage/logs/*
!/storage/logs/.gitignore

# Bootstrap cache (keep dir, ignore contents)
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Public build artifacts
/public/hot
/public/storage
/public/build
